*{
    padding: 0;
    margin: 0;
}
.header{
    background-image: url(photos/alexandre-lallemand-gZpM8PjMdBo-unsplash.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #808080;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;   
}
.dropdown li{
    display: block;
}
.dropdown{
    width: 100%;
    background: #808080;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li:hover ul.dropdown {
    display: block;
}
.textBox{
    margin-top: 30rem;
    text-align: center;
}
.textBox h1{
    color: #fff;
}
.textBox p{
    color: #fff;
}

/*-----body----*/
body{
    background-image: url(photos/david-monje-n00dm9FBwrs-unsplash.jpg)
}
.dasBody{
    background-color: #808080;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.dasBody h1{
    font-size: 36px;
    padding: 25px;
}
.aboutUs{
    width: 80%;
    margin: auto;
    text-align: center;
}
.aboutUs p{
    font-size: 18px;
}
.row{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.features h2{
    padding-top: 35px;
}
.featureCol{
    flex-basis: 31%;
    background: #f8f0e3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.rowTwo{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.featureColTwo{
    flex-basis: 31%;
    background: #FFDEAD;
    border-radius: 5.5rem;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.aboutEditor{
    background: #f8f0e3;
    padding: 20px;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}
.aboutEditor h3{
    padding: 0.5rem;
}.aboutEditor p{
    font-size: 22.5px;
}
.editorGridA{
    float: right;
    width: 400px;
    height: 400px;
    padding: 22px;
}
.editorGridB{
    text-align: justify;
}
.secondFeat{
    background: #778899;
    width: 100%;
    padding-bottom: 50px;
}
.secondFeat h4{
    font-size: 36px;   
}
.secondFeat p{
    text-align: justify;
    font-size: 25.5px;
    padding: 10px;
}
.secPic{
    float: right;
    width: 50%;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}


/*---topicPage---*/
.subHeader{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgb(128,128,128),rgba(4,9,30,0.7)), url(photos/jr-korpa-tzQkuviIuHU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f8f0e3;
}
.container{
    width: 96%;
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1.5rem;
    margin-top: -2rem;
    background-color: #f8f0e3;
    margin-bottom: -2rem;
}
.container h1{
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}
.container h5{
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
}
.container p{
    text-align: justify;
    margin-top: 1rem;
}
.art1 img{
    height: 250px;
    margin-top: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}
.article2 p{
    text-align: justify;
    padding-bottom: 1.5rem;
}
.grid{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.grid a{
    text-decoration: none;
    color: #000;
}
.grid2{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.grid2 a{
    text-decoration: none;
    color: #000;
}
.article3 p{
    text-align: justify;
}
.article4 img{
    height: 350px;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
}


/*----blog pages------*/
.dasSubBody{
    background-color: #FAEBD7;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;
    box-sizing: content-box;
    margin-top: -2rem;
}
.dasSubBody h4{
    padding-top: 15px;
    font-size: 48px;
}
.sectionOne{
    padding: 25px;
}
.gridOneA p{
    text-align: justify;
    font-size: 25.5px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.gridOneB img{
    float: right;
    padding: 10px;
    padding-right: 3.5rem;
    margin: 4px;
    width: 50%;
}
.sectionTwo{
    padding: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
}
.sectionTwo p{
    text-align: justify;
    font-size: 25.5px;
}
.sectionThree{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.sectionFour{
    padding: 15px;
}
.gridTwoB img{
    float: left;
    padding: 10px;
    margin: 4px;
    width: 45%;
    padding-left: 4rem;
}
.gridTwoA p{
    text-align: justify;
    font-size: 25.5px;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}


/*----topicRedub----*/
.dasTopicBody{
    background: #808080;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border-radius: 10px;
    box-sizing: content-box;
    margin-top: -2rem;
}
.firstStory{
    background: #F5DEB3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 60px double #d3d3d3;
    border-radius: 1.5rem;
}
.firstStory h2{
    padding: 15px;
}
.firstStory h4{
    padding: 10px;
}
.salemPicOne{
    float: left;
    width: 50%;
    padding: 10px;
}
.firstStory p{
    text-align: justify;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 3rem;
}
.salemPicTwo{
    float: right;
    width: 30%;
    padding: 10px;
}
.salemPicThree{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5rem;;
}


/*-----back issues-----*/
.dasNewBody{
    background-color: #808080;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border-radius: 15px;
    margin-top: -1.5rem;
}
.dasNewBody h1{
    padding-bottom: 1.5rem;
}
.subjectOne{
    background: #dcdcdc;
    border-radius: 5rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.subjectOne h2{
    padding: 0.5rem;
}
.subjectOne h4{
    padding: 0.5rem;
}
.subjectOne p{
    text-align: justify;
    padding: 5rem;
    font-size: 25.5px;
}
.gridAlphaOne{
    float: right;
    width: 35%;
    padding-left: 0.5rem;
    border-radius: 15rem;
}
.gridAlphaTwo{
    float: left;
    width: 35%;
    padding: 0.5rem;
    border-radius: 7.5rem;
}
.swedenBorg{
    float: left;
    width: 65%;
    padding-top: 1.5rem;
    padding-right: 0.5rem;
}
.subArticle h3{
    padding: 25px;
}
.subArticle p{
    text-align: justify;
    padding: 1.5rem;
    font-size: 25.5px;
}
.backStories{
    background: #D2B48C;
    padding-bottom: 5rem;
}
.backStories h3{
    font-size: 36px;
    padding: 1rem;
}
.backStories h4{
    font-size: 30px;
}
.dasContainer{
    display: inline-block;
    width: 97.5%;
}
.gridBetaOne{
    background: #FAEBD7;
}
.gridBetaTwo{
    background: #F5F5F5;
}
.backStoryAltPic{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 17.5px solid #d2b48c;
}
.backFloatRight{
    float: right;
    width: 50%;
    padding: 10px;
}
.q22022picBottom{
    width: 47.5%;
    float: right;
    border: 10px double #808080;
}
.gridBetaTwo img{
    float: left;
    width: 50%;
    padding: 10px;
}
.gridBetaOne p{
    text-align: justify;
    font-size: 22.5px;
    padding: 20px;
}
.gridBetaTwo p{
    text-align: justify;
    font-size: 22.5px;
    padding: 20px;
}

/*----bSide pages----*/
.newSubHeader{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgb(169,169,169),rgba(4,9,30,0.7)), url(photos/jesse-bowser-ZmBnq7ui6mU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f8f0e3;
}
.backStoriesTwo{
    background: #D3D3D3;
}
.backStoriesTwo h3{
    padding: 1rem;
}
.dasContainerTwo{
    display: inline-block;
}
.dasContainerTwo p{
    text-align: justify;
    font-size: 22.5px;
    padding: 10px;
}
.gridCharlieOne{
    background: #FFF8DC;
    border: 1rem solid #808080;
}
.gridCharlieTwo{
    background: #FAF0E6;
    border: 1rem solid #808080;
}
.gridCharlieOne img{
    width: 50%;
    border: 20px solid #d3d3d3;
    float: right;
}
.gridCharlieTwo img{
    width: 50%;
    border: 15px solid #d3d3d3;
    float: left;
}
.topicAltHead{
    border-left: 2.5rem solid #808080;
    border-right: 2.5rem solid #808080;
}
.subHeaderAlpha{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgb(176,196,222,0.7),rgba(4,9,30,0.7)), url(photos/ben-griffiths-l7R85WBKl1c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f8f0e3;
}
.subBodyq12022{
    padding-top: 25px;
    background: #F5F5DC;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-sizing: content-box;
    margin-top: -2rem;
    padding-bottom: 2rem;
}
.intrabox12022{
    background:#B0C4DE;
    text-align: justify;
    width: 80%;
    margin: auto;
    border-radius: 5rem;
    box-sizing: content-box;
}
.intrabox12022 h3{
    font-size: 48px;
    text-align: center;
}
.intrabox12022 img{
    float: left;
    padding: 50px;
    width: 65%;
}
.intrabox12022 p{
    font-size: 25.5px;
    padding: 50px;
}
.newMexico{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.intraboxBeta12022{
    background:#808080;
    text-align: justify;
    width: 95%;
    margin-right: auto;
    border-radius: 5rem;
    box-sizing: content-box;
}
.intraboxBeta12022 h3{
    font-size: 48px;
    text-align: center;
}
.intraboxBeta12022 p{
    font-size: 28px;
    padding: 50px;
}
.intraboxCharlie12022{
    margin-top: 50px;
    background:#000000;
    text-align: justify;
    width: 90%;
    margin-left: auto;
    border-radius: 5rem;
    box-sizing: content-box;
}
.intraboxCharlie12022 h3{
    font-size: 48px;
    text-align: center;
    color: #fff;
}
.intraboxCharlie12022 img{
    float: right;
    width: 35%;
    border-radius: 5rem;
    padding: 50px;
}
.intraboxCharlie12022 p{
    font-size: 25.5px;
    padding: 50px;
    color: #fff;
}
.otherStoriesQ12022{
    background: #D3D3D3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gridBackStoryQ12022{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.unitA{
    background: #FFF8DC;
}
.unitB{
    background: #FAF0E6;
}
.unitA img{
    width: 400px;
    height: 240px;
    float: right;
}
.unitB img{
    width: 400px;
    height: 240px;
    float: left;
}
.dasNewBodyBeta{
    background-color: #808080;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    border-radius: 15px;
    margin-top: -1.5rem;
}
.dasNewBodyBeta h1{
    padding-bottom: 1.5rem;
    font-size: 60px;
}
.subjectOneBeta{
    background: #ffffe0;
    border-radius: 5rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.subjectOneBeta h2{
    padding: 2.5rem;
    font-size: 48px;
}
.subjectOneBeta h4{
    padding: 0.5rem;
    font-size: 36px;
}
.subjectOneBeta p{
    text-align: justify;
    padding: 5rem;
    font-size: 25.5px;
}
.gridAlteredOne{
    float: left;
    width: 35%;
    padding: 1.5rem;
    border-radius: 15rem;
}
.gridAlteredTwo{
    float: right;
    width: 35%;
    padding: 75px;
    border-radius: 7.5rem;
}



/*----q2altPic---*/
.q3y22subHeader{
    height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgb(176,196,222,0.7),rgba(4,9,30,0.7)), url(photos/mathew-macquarrie-u6OnpbMuZAs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #f8f0e3;
}

/*-----Q32022 alt pic------*/
.backStoriesBeta h3{
    font-size: 36px;
    padding: 10px;
}
.backStoriesBeta h4{
    font-size: 30px;
    padding: 10px;
}
.backStoriesBeta p{
    font-size: 22.5px;
    padding: 15px;
    text-align: justify;
}
.q32022img{
    float: right;
    width: 45%;
    padding: 3.5rem;
}
.q32022altPic{
    background: #faf0e6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 35px solid #808080;
}
.q32022altPic img{
    width: 45%;
    float: right;
    padding: 15px;
}
/*------Q4altStuff-----*/
.subjectOneCharlie{
    background: #778899;
    border-radius: 5rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.subjectOneCharlie h2{
    padding: 2.5rem;
    font-size: 48px;
}
.subjectOneCharlie h4{
    padding: 0.5rem;
    font-size: 36px;
}
.subjectOneCharlie p{
    text-align: justify;
    padding: 5rem;
    font-size: 25.5px;
}
.q3subSection{
    background: #fff4c4;
}
.furtherReading{
    background: #fffff0;
    width: 90%;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.bubble4{
    background: #ffd700;
    width: 85%;
    margin-left: auto;
    border: #808080;
    border-style: solid;
    border-width: 25px;
}
.backStoriesBeta{
    background: #CD853F;
}
.newQuartBackSide{
    background: #ffdead;
    padding-bottom: 2.5rem;
}
.newQuartBackSide h3{
    font-size: 36px;
    padding: 20px;
}
.newQuartBackSlot{
    background: #cd853f;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2rem;
    border: 15px solid #808080;
}
.newQuartBackSlot img{
    float: right;
    width: 45%;
    border: 10px solid #ffdead;
}
.newQuartBackSlot p{
    text-align: justify;
    font-size: 25.5px;
    padding: 1rem;
    padding-bottom: 0.5rem;
}
.altMiddlePicture{
    width: 100%;
}
.subArticleBeta p{
    font-size: 25.5px;
    padding: 1.5rem;
    text-align: justify;
}
.subArticleBeta h3{
    font-size: 42px;
    padding: 1.5rem;
}
.subArticleBeta h4{
    font-size: 36px;
}
.subArticleBeta img{
    float: right;
    width: 32.5%;
    padding: 0.5rem;
    border-radius: 7.5rem;
}
.q42022picBack{
    width: 65%;
    float: left;
    border: 10px inset #D2B48C;
}


















































/*----footer----*/
footer{
    background: #A0522D;
    padding: 3rem;
    text-align: center;
}
footer h4{
    color: #fff;
}
footer p{
    color: #fff;
}



@media (max-width: 1200px){
    .row{
        display: block;
    }
    .curiosity{
        display: block;
    }
    .curiosityCol img{
        width: 80%;
        margin: auto;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .intrabox12022 h3{
        font-size: 24px;
    }
    .intrabox12022 img{
        float: left;
        padding: 35px;
        width: 40%;
    }
    .intrabox12022 p{
        font-size: 18px;
        padding: 35px;
    }
    .intraboxBeta12022 h3{
        font-size: 28px;
        text-align: center;
        padding: 15px;
    }
    .intraboxBeta12022 p{
        font-size: 20.5px;
        padding: 35px;
    }
    .intraboxCharlie12022 h3{
        font-size: 24px;
        text-align: center;
        color: #fff;
    }
    .intraboxCharlie12022 img{
        float: right;
        width: 35%;
        border-radius: 5rem;
        padding: 35px;
    }
    .intraboxCharlie12022 p{
        font-size: 18px;
        padding: 36px;
        color: #fff;
    }
    /*-----curiPartOne-------*/
    .dasSubBody h4{
        padding-top: 15px;
        font-size: 28px;
    }
    .gridOneA p{
        text-align: justify;
        font-size: 18px;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .sectionTwo p{
        text-align: justify;
        font-size: 18px;
    }
    .gridTwoA p{
        text-align: justify;
        font-size: 18px;
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
    /*-----Q1 2022 backstory related stories----*/
    .unitA img{
        width: 350px;
        height: 210px;
        float: right;
    }
    .unitB img{
        width: 350px;
        height: 210px;
        float: left;
    }
    .unitA p{
        font-size: 10px;
    }
    .unitB p{
        font-size: 10px;
    }
}




